<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="index.html">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/">Home</a></li>
                <% if(loggedIn) {%>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/posts/new">New Post</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/auth/logout">Log out</a></li>
                    <% } %>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/samplepost">Sample Post</a>
                        </li>
                        <% if(!loggedIn){ %>
                            <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/auth/login">Login</a>
                            </li>
                            <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/auth/register">New
                                    User</a></li>
                            <% } %>
                                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/about">About</a>
                                </li>
                                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                                        href="/contact">Contact</a></li>


            </ul>
        </div>
    </div>
</nav>