<!DOCTYPE html>
<html lang="en">
   <%-include('layouts/header');-%>
    <body>
        <!-- Navigation-->
        <%-include('layouts/navbar');-%>
       
            
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('assets/img/contact-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Create New Post</h1>
                            <span class="subheading">Have questions? I have answers.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <form action="/posts/store" method="POST" enctype="multipart/form-data">
                        <div class="my-5">
                        
                                <div class="form-floating">
                                    <input class="form-control" id="title"
                                     type="text" placeholder="Title" name="title" />
                                    <label>Title</label>
                                </div>
                             
                                <div class="form-floating">
                                    
                                    <textarea rows="5" class="form-control"
                                     id="body" name="body" ></textarea>
                                     <label >Description</label>
                                </div>

                                
                                <div class="form-floating"> 
                                    <input type='file' class="form-control"
                                     id="image" name="image">
                                     <label>Image</label/>
                                </div>



                                <br />

                                <!-- Submit Button-->

                                <button class="btn btn-primary " id="submitButton" type="submit">Send</button>
                            
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer-->
       <%-include('layouts/footer');-%>
       <%-include('layouts/scripts');-%>
    </body>
</html>
